<a href="https://colab.research.google.com/github/Lena-Marreel/IADS_SC_Day1/blob/main/Exercise_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Strings
Strings are ordered text based data which are represented by enclosing the same in single/double/triple quotes.

In [ ]:
String0 = 'Paris is beautiful'
String1 = "Paris is beautiful"
String2 = '''Paris
is
beautiful'''

In [ ]:
print(String0 , type(String0)) 
print(String1, type(String1))
print(String2, type(String2))

Paris is beautiful <class 'str'>
Paris is beautiful <class 'str'>
Paris
is
beautiful <class 'str'>

In [ ]:
print(String0[4]) # string = list but with character elements
                  # so you can treat them the same (as long as they are the same datatype)
print(String0[5]) # spaces also count as an element in the string -> returns seemingly nothing
print(String0[5:8]) # same as with lists (see excercise 3) = 5th up to but not including 8th index
                    # the element thing does not work here, so that only works when you start from teh start of the list
print(String0[4:])

s

 is
s is beautiful

In [ ]:
print(String0.find('ri')) # returns index of a string value i.e., a character value 
print(String0.find('za')) # -1 because this character combo does not appear in string

2
-1

below useful functions to adjust small things in a string in python.

In [ ]:
String3 = 'observe the first letter in this sentence.'
print(String3.capitalize())

observe the first letter in this 4sentence.
Observe the first letter in this sentence.

In [ ]:
String0.center(70)

'                          Paris is beautiful                          '

In [ ]:
print(String0.endswith('s')) # false because did not end with s

False

In [ ]:
print(String0.count('a',0)) # count nr of times letter 'a' appears

2

In [ ]:
print(String0.count('a',1,10)) # count nr of times letter 'a' appears from the 1st to the 10th element

1

In [ ]:
String0.upper() # write the entire string in capotal

'PARIS IS BEAUTIFUL'

## Dictionaries
Dictionaries are more used like a database because here you can index a particular sequence with your user defined string.

To define a dictionary, equate a variable to { } or dict()

In [ ]:
d0 = {}
d1 = dict()
print(type(d0), type(d1))

<class 'dict'> <class 'dict'>

In [ ]:
# Dictionary works somewhat like a list but with an added capability of assigning it's own index style.
# index keys HAVE to be unique (obviously)
d0['One'] = 1
d0['OneTwo'] = 12 
print(d0)

{'One': 1, 'OneTwo': 12}

In [ ]:
# That is how a dictionary looks like. Now you are able to access '1' by the index value set at 'One'
print(d0['One'])

1

In [ ]:
# Two lists which are related can be merged to form a dictionary.
  # useful if you have a list an dyou want to give it different indexes
  # instead of typing it out in a dict, simply make a second list and combine them (see next code block)
keys = ['One', 'Two', 'Three', 'Four', 'Five']
values = [1, 2, 3, 4, 5]

In [ ]:
# zip( ) function is used to combine two lists
dictionary = dict(zip(keys, values))
print(dictionary)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

## Control Flow Statements

https://www.tutorialspoint.com/python/python_if_else.htm

In [ ]:
x = 12
if x >10:
    print("Hello")

Hello

In [ ]:
# importance of indentation in python
y = 12
if y >10:
print("Hello")

In [ ]:
x = 12
if x > 10:
    print("hello")
else:
    print("world")

hello

In [ ]:
x = 10
y = 12
if x > y:
    print("x>y")
elif x < y: # else if
    print("x<y")
else:
    print("x=y")

x<y

In [ ]:
x = 10
y = 12
if x > y:
    print("x>y")
elif x < y:
    print("x<y")
    if x==10:
        print("x=10")
    else:
        print("invalid")
else:
    print("x=y")

x<y
x=10

## Loops

In [ ]:
for i in range(5): # for loop in python does automaticall len(range(5)) = 5 elements = 5 itterations
    print(i)

0
1
2
3
4

In [3]:
# but the range function can not be used to fill a list up apparent, unless I have no clue how to use this =p 
a=range(5)
print(a)
# found the answer on day two 
aaa=list(range(5))
print(aaa)
list(range(10))

range(0, 5)
[0, 1, 2, 3, 4]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists: # len(list_of_lists) = 3 because has 3 elements = 3 nested lists
        print(list1)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for anIterName in list_of_lists: # essentially says for ever element in list_of_list 
                                 # = here 3 lists = 3 elements thus 3 itterations
        print(anIterName)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists: # go through each of the elements in list_of_lists
    for x in list1: # THEN go through all those subelements
        print(x)

1
2
3
4
5
6
7
8
9

## While

In [ ]:
i = 1
while i < 3:
    print(i ** 2)
    i = i+1
print('Bye')

1
4
Bye

## Break
As the name says. It is used to break out of a loop when a condition becomes true when executing the loop.

In [ ]:
for i in range(100):
    print(i)
    if i>=7:
        break

0
1
2
3
4
5
6
7

## Continue
This continues the rest of the loop. Sometimes when a condition is satisfied there are chances of the loop getting terminated. This can be avoided using continue statement.

In [ ]:
for i in range(10):
    if i>4:
        print("The end.")
        continue
    elif i<7:
        print(i)

0
1
2
3
4
The end.
The end.
The end.
The end.
The end.

### List Comprehensions
Python makes it simple to generate a required list with a single line of code using list comprehensions. For example If i need to generate multiples of say 27 I write the code using for loop as,

In [ ]:
res = []
for i in range(1,11):
    x = 27*i
    res.append(x) # equivqlent in matlab res = [res,x]
print(res)

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]

Since you are generating another list altogether and that is what is required, List comprehensions is a more efficient way to solve this problem.

In [ ]:
[27*x for x in range(1,11)] # essentially for loop in 1 line
                            # https://blog.finxter.com/python-one-line-for-loop-a-simple-tutorial/
# list comprehension -> for loops and if statement combo https://blog.finxter.com/list-comprehension/
# probably not possible for all

[27, 54, 81, 108, 135, 162, 189, 216, 243, 270]