<a href="https://colab.research.google.com/github/Lena-Marreel/IADS_SC_Day1/blob/main/Exercise_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data Structures
In simple terms, It is the the collection or group of data in a particular structure.

#### Lists
Lists are the most commonly used data structure. Think of it as **a sequence of data** that is **enclosed in square brackets** and data are **separated by a comma**. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list.

In [ ]:
a = []

In [ ]:
print(type(a))

<class 'list'>

In [4]:
x = ['apple', 'orange', 'banana']

In [8]:
print(x[1]) # because Python starts from 0 

print(x[0]); print(x[1]); print(x[2]) # also shows how to put several functions/things on 1 line of code

orange
apple
orange
banana

In [ ]:
## Indexing can also be done in reverse order. That is the last element can be accessed first.
# Here, indexing starts from -1. Thus index value -1 will be orange and index -2 will be apple.

In [11]:
x[-2] # can remember this as x holds 3 things -> x-2 = 3-2 = 1 
      # x[1] = orange

'orange'

As you might have already guessed, x[0] = x[-2], x[1] = x[-1]. This concept can be extended towards lists with more many elements.

**This shit written here does not add up with the values above. 
It should be x[0] = x[-3]**

In [ ]:
y = ['carrot','potato']

In [60]:
z  = [x,y] # Z holds 2 lists in 1 -> to make one list = contagonate = + sign (see below in slicing)     
print(z)

IndentationError: ignored

In [ ]:
z1 = z[0]
print(z1)

['apple', 'orange', 'banana']

In [ ]:
z[0][0]

'apple'

## Slicing
Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [17]:
numVar = [0,1,2,3,4,5,6,7,8,9]

In [18]:
print(numVar[0:4])
print(numVar[4:]) # 4th until end

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

In [19]:
num[:9:3] # = same as num[0:9:3]

[0, 3, 6]

In [21]:
len(num) # Return the number of items in a container.
         # aka length

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [ ]:
min(num)

0

In [ ]:
max(num)

9

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [58]:
[1,2,3] + [5,4,7] # same as using extend (see append below)
  # example of extend equivalent
#nn=[1,2,3]
#mm=[5,4,7]
#nn.extend(mm)
#print(nn)

[1, 2, 3, 5, 4, 7]

There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [ ]:
names = ['Earth','Air','Fire','Water']

In [ ]:
'Fire' in names

True

In [ ]:
'Smith' in names

False

## Append

In [39]:
lst = [1,1,4,8,7]

In [23]:

lst.append(1) # i.e., add the value 1 at th eend of the list
print(lst)

[1, 1, 4, 8, 7, 1]

In [24]:
lst.count(1)

3

append( ) function can also be used to add a entire list at the end. Observe that the resultant list becomes a nested list.

In [40]:
lst1 = [5,4,2,8]

In [41]:
lst.append(lst1) # now lst1 = the 6th position/cell of the lst list
print(lst)

[1, 1, 4, 8, 7, [5, 4, 2, 8]]

But if nested list is not what is desired then extend( ) function can be used.

In [66]:
lst.extend(lst1) # i.e., like contagonate 
print(lst)
# to get an item out of the list -> use [] again
print(lst[2])
lst[5] # not how nested list is handled as is treated as a single element of the parent list lst

[1, 1, 4, 8, 7, [5, 4, 2, 8], 5, 4, 2, 8, 5, 4, 2, 8, 5, 4, 2, 8, 5, 4, 2, 8, 5, 4, 2, 8]
4

[5, 4, 2, 8]

In [46]:
lst.index(8)

3

insert(x,y) is used to insert a element y at a specified index value x. append( ) function made it only possible to insert at the end.

In [29]:
lst.insert(5, 'name')
print(lst)

[1, 1, 4, 8, 7, 'name', 1, [5, 4, 2, 8], 5, 4, 2, 8]

insert(x,y) inserts but does not replace element. If you want to replace the element with another element you simply assign the value to that particular index.

In [30]:
lst[5] = 'Python'
print(lst)

[1, 1, 4, 8, 7, 'Python', 1, [5, 4, 2, 8], 5, 4, 2, 8]

pop( ) function return the last element in the list. This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

**Will return the item specified. BUT will also remove that item from the list. ie.e., ' pop it out'**

In [31]:
lst.pop()

8

Index value can be specified to pop a ceratin element corresponding to that index value.

In [32]:
lst.pop(0)

1

In [33]:
print(lst)

[1, 4, 8, 7, 'Python', 1, [5, 4, 2, 8], 5, 4, 2]

pop( ) is used to remove element based on it's index value which can be assigned to a variable. One can also remove element by specifying the element itself using the remove( ) function.

In [34]:
lst.remove('Python')
print(lst)

[1, 4, 8, 7, 1, [5, 4, 2, 8], 5, 4, 2]

In [35]:
del(lst[1])
print(lst)

[1, 8, 7, 1, [5, 4, 2, 8], 5, 4, 2]

The entire elements present in the list can be reversed by using the reverse() function.

In [36]:
lst.reverse()
print(lst)

[2, 4, 5, [5, 4, 2, 8], 1, 7, 8, 1]

Note that the nested list [5,4,2,8] is treated as a single element of the parent list lst. Thus the elements inside the nested list is not reversed.

Python offers built in operation sort( ) to arrange the elements in ascending order.

## Build In Function

In [47]:
set1 = set([1,2,3])
set2 = set([2,3,4,5])

In [48]:
# union( ) function returns a set which contains all the elements of both the sets without repition.

set1.union(set2)

{1, 2, 3, 4, 5}

In [49]:
set1.add(0)
set1

{0, 1, 2, 3}

In [50]:
set1.intersection(set2)

{2, 3}

In [51]:
set1.difference(set2)

{0, 1}

In [52]:
set1.issubset(set2)

False