<a href="https://colab.research.google.com/github/Lena-Marreel/IADS_SC_Day1/blob/main/Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Variables
A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [ ]:

x = 2
y = 5
xy = 'Hello'

In [ ]:
print(x+y, xy)

7 Hello

In [ ]:
# Multiple variables can be assigned with the same value

x = y = 1

print(x,y)

1 1

### Operators

#### Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [ ]:
1+2

3

In [ ]:
2-1

1

In [ ]:
1*2

2

In [ ]:
1/2

0.5

In [3]:
15/10 # answer = 1.5 -> so remainder is 0.5 = '5'
      # another way to think about it is the tail devisions in primary school '10 will fit once in 15' and leaves 5
print(15%10) # mod = give the remainder after devision

5

1.5

In [ ]:
#Floor division is nothing but converting the result so obtained to the nearest integer.
print(2.8/2.0)
print(2.8//2.0) # basically means devide and round down (to the floor) to the nearest integer

1.4
1.0

## Relational Operators
| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [ ]:
z = 1

In [ ]:
z == 1

True

In [ ]:
z > 1

False

below are using functions

In [ ]:
print(round(5.6231))
print(round(4.55892, 2))

6
4.56

In [ ]:
divmod(9,4)

(2, 1)

In [6]:
print(pow(2,3)) # power function
print(2^3) # gives output one, so ^ does not work as power

1

## Print


In Python, single, double and triple quotes are used to denote a string. *Most* use single quotes when declaring a single character. Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

**but the above is simple convetion?**

In [ ]:
print('H')

H

In [ ]:
print("Hello World")

Hello World

In [8]:
print("""I am from Essex. 
I love Python.""") # an enter is read as an enter. no need for extra stuff to denote this

I am from Essex.
I love Python.

In [10]:
string1 = "World"
print("Hello", string1)

Hello World

In [ ]:
string2 = '!'
print("Hello", string1, string2)

Hello World !

In [ ]:
print("Hello" + string1 + string2)

HelloWorld!

In [15]:
print("Hello %s" % string1) # %s denotes to read 'variable string1'  as a string
                            # but also is you telling the print the value type of that variable. 
print("Hello %d" % string1) # throws an error because you cannot read a string as a diggit 
                              # however working with numbers, you can change to presentation format around
                              # e.g., see cellblock below.
# the % before string1 = Python code quirks ->w/out just does not run

Hello World

In [ ]:
print("Actual Number = %d" %18)
print("Float of the number = %f" %18) # float is decimal value

Actual Number = 18
Float of the number = 18.000000

In [ ]:
print("Hello %s %s" %(string1,string2))

Hello World !